<h1>Cocktails</h1>
<div class="home-banner">

<div class="container">

    <% @cocktails.each do |cocktail| %>
      <div class="card">
        <div class="card-category"></div>
        <div class="card-description">
          <h2 style = "color: black"><%= cocktail.name %></h2>
          <h4><%= link_to "Details", cocktail_path(cocktail) %></h4>
        </div>
        <img class="card-user" src="">
        <%= link_to cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="fa fa-cocktail" aria-hidden="true">Delete</i>
        <% end %>
      </div>
    <% end %>
    </div>

</div>
